<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myoffice.dao.ActivityDao">
    <!--配置一个resultMap 指定返回的类型 -->
    <resultMap id="activityModelRM" type="ActivityModel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
        <result column="priority" property="priority"/>
        <result column="create_day" property="createDay"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="implement_rate" property="implementRate"/>
        <result column="remark" property="remark"/>
        <result column="staus" property="status"/>
    </resultMap>

    <select id="findAll" parameterType="ActivityModel" resultMap="activityModelRM">
        select
        a.*
        from
        activity a
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                AND a.`name` like CONCAT('%',"\\" #{name},'%' )
            </if>
            <if test="category != null">
                AND a.`category`=#{category}
            </if>
            <if test="priority != null">
                AND a.`priority`=#{priority}
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(starttime)">
                AND a.`starttime`
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(endtime)">
                AND m.`endtime` like CONCAT('%',"\\" #{address},'%' )
            </if>
        </where>
    </select>

    <!-- <insert id="insert" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
         INSERT INTO student
         <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                 name,
             </if>
             <if test="age!=null">
                 age,
             </if>
             <if test="gender!=null">
                 gender,
             </if>
             <if test="birthday!=null">
                 birthday,
             </if>
             <if test="status!=null">
                 status,
             </if>
             <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(address)">
                 address,
             </if>
         </trim>
         VALUES
         <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                 #{name},
             </if>
             <if test="age!=null">
                 #{age},
             </if>
             <if test="gender!=null">
                 #{gender},
             </if>
             <if test="birthday!=null">
                 #{birthday},
             </if>
             <if test="status!=null">
                 #{status},
             </if>
             <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(address)">
                 #{address},
             </if>
         </trim>
     </insert>
     -->
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO activity (`name`,category,priority,create_day,start_time,end_time,implement_rate,remark,`status`)
        VALUES
        <foreach collection="list" item="activity" index="activity" separator=",">
            (
            #{activity.name},
            #{activity.category},
            #{activity.priority},
            #{activity.createDay},
            #{activity.startTime},
            #{activity.endTime},
            0,
            #{activity.remark},
            0
            )
        </foreach>
    </insert>
    <delete id="delete" parameterType="ActivityModel">
        DELETE FROM activity
        <where>
            id=#{id}
        </where>
    </delete>
    <update id="update" parameterType="ActivityModel">
        UPDATE activity
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                name=#{name},
            </if>
            <if test="category!=null">
                category=#{category},
            </if>
            <if test="priority!=null">
                priority=#{priority},
            </if>
            <if test="createDay!=null">
                create_day=#{createDay},
            </if>
            <if test="startTime!=null">
                start_time=#{startTime},
            </if>
            <if test="endTime!=null">
                end_time=#{endTime},
            </if>
            <if test="implementRate!=null">
                implement_rate=#{implementRate},
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(remark)">
                remark=#{remark}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <!--
    <select id="getById" parameterType="Student" resultType="Student">
        SELECT
        s.*
        FROM
        student s
        <where>
            s.id=#{id}
        </where>
    </select>

    <select id="findAll" parameterType="Student" resultMap="studentModelRM">
        select
        s.*
        from
        student s
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                AND m.`name` like CONCAT('%',"\\" #{name},'%' )
            </if>
            <if test="gender != null">
                AND s.`gender`=#{gender}
            </if>
            <if test="age != null">
                AND s.`age`=#{age}
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(address)">
                AND m.`address` like CONCAT('%',"\\" #{address},'%' )
            </if>
        </where>
    </select>
    &lt;!&ndash; id 固定的 findPaging parameterType 固定的 pageModel params.entity固定写法 &ndash;&gt;
    -->
    <select id="findPage" parameterType="activityModel" resultMap="activityModelRM">
        select
        a.*
        from
        activity a
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                AND a.`name` like CONCAT('%',"\\" #{name},'%' )
            </if>
            <if test="category != null ">
                AND a.`category`=#{category}
            </if>
            <if test="priority != null ">
                AND a.`priority`=#{priority}
            </if>
            <if test="createDay!=null">
                AND a.`create_day`=#{createDay}
            </if>
        </where>
        order  by  a.`create_day` desc
    </select>
</mapper>